{
  "parserOptions": { 
    "ecmaVersion": 2019 
  },
  "extends": [
    "plugin:bpmn-io/browser",
    "plugin:bpmn-io/jsx",
    "plugin:bpmn-io/node",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "import/first": "error",
    "import/no-amd": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-restricted-paths": [ "error", {
      "basePath": "./packages",
      "zones": [
        { "target": "form-js/src", "from": ".", "except": [ "form-js" ] },
        { "target": "form-js-editor/src", "from": ".", "except": [ "form-js-editor" ] },
        { "target": "form-js-playground/src", "from": ".", "except": [ "form-js-playground" ] },
        { "target": "form-js-viewer/src", "from": ".", "except": [ "form-js-viewer" ] }
      ]
    }]
  },
  "overrides": [
    {
      "files": [ "packages/**/src/**/*.js" ],
      "rules": {
        "import/no-default-export": "error"
      }
    }
  ],
  "plugins": [
    "import"
  ]
}
