name: Check Tasklist Carbonization

on: [push]

jobs:
  Exec:
    name: Run visual regression
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.37.1
      options: --user 1001:1000
    steps:
      - name: Checkout form-js
        uses: actions/checkout@8b5e8b768746b50394015010d25e690bfab9dfbc
        with:
          path: form-js
      - name: Checkout Tasklist
        uses: actions/checkout@8b5e8b768746b50394015010d25e690bfab9dfbc
        with:
          repository: camunda/tasklist
          token: ${{ secrets.ADD_TO_HTO_PROJECT_PAT }}
          path: tasklist
          ref: "master"
      - name: Setup form-js cache
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: ./form-js/package-lock.json
      - name: Setup Tasklist cache
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: "19"
          cache: "yarn"
          cache-dependency-path: ./tasklist/client/yarn.lock
      - name: Install form-js deps
        run: npm ci
        working-directory: ./form-js
      - name: Build form-js
        run: npm run build
        working-directory: ./form-js
      - name: Create form-js-viewer link
        run: yarn link
        working-directory: ./form-js/packages/form-js-viewer
      - name: Link form-js-viewer
        run: yarn link "@bpmn-io/form-js-viewer"
        working-directory: ./tasklist/client
      - name: Create form-js-carbon-styles link
        run: yarn link
        working-directory: ./form-js/packages/form-js-carbon-styles
      - name: Link form-js-carbon-styles
        run: yarn link "@bpmn-io/form-js-carbon-styles"
        working-directory: ./tasklist/client
      - name: Install Tasklist deps
        run: yarn
        working-directory: ./tasklist/client
      - name: Build Tasklist
        run: yarn build:visual-regression
        working-directory: ./tasklist/client
      - name: Start server
        working-directory: ./tasklist/client
        run: yarn start:visual-regression &
      - name: Run Playwright tests
        working-directory: ./tasklist/client
        run: yarn playwright form-js-integration
      - uses: actions/upload-artifact@65d862660abb392b8c4a3d1195a2108db131dd05
        if: always()
        with:
          name: playwright-report
          path: ./tasklist/client/playwright-report/
          retention-days: 30
